

body{
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
a {
    text-decoration: none;
}

h1{
    font-weight: 600;
    color: #192b59;

    font-size: 80px; 
    max-width: 600px;
    letter-spacing: -2.5px;
    line-height: 1.1;
    margin-bottom: 65px; 
    padding-left: 0px;
    
   
}

.title-h2{
    font-size: 50px;
    color: rgba(25, 43, 89, 255);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing:-1.5px ;
   
    
}


.title-h2 span{
 display:block;
 font-size: 16px;
color: rgba(16, 133, 228, 255);
font-weight: 800;
margin-bottom: 50px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:14px ;

}


.title-40{
    font-size: 40px;
    color: rgba(25, 43, 89, 255);
    font-weight: 600;
    line-height: 1.2;
    
    
    letter-spacing: -1.1px;
}


.title-40 span{
 display:block;
 font-size: 18px;
color: rgba(16, 133, 228, 255);
font-weight: 800;
margin-bottom: 20px;
text-transform: uppercase;
letter-spacing: 3.5px;


}

.page-stat .title-h2 , .page-screen .title-h2{
    
    text-align: center;
    margin: 0px auto;
}
.page-stat .title-h2{
    max-width: 500px;

}

.box-subs .title-h2{
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}




.wrap{
    max-width:1110px ;
    
    margin: 0px auto;
}

.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
    margin-bottom: 305px;
    padding-left: 54px;
}

.logo{
    background-image: url(../img/2-layers.png);
    width: 181px;
    height: 49px;
    display: block;
    margin-left: -23px;
}


.nav{
     font-size: 12px;
     font-weight: 700;
     text-transform: uppercase;
     list-style-type: none;
     margin:0px;
     padding: 0px;
     display: flex;


}

.nav>li{
padding:0 20px ;

}

.nav-item{
    color: #6e7ea9;
    letter-spacing: 2px;
}



.btn-primary{
    color: #ffffff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 41px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    border:1px solid #1085e4;
    transition: 0.4s;

}

.btn-primary:hover{
    background-color: transparent;
    color: #1085e4;
}

.btn-secondary{
    color: #7e8bae;
    background-color: #cbdbe8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 41px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    border:1px solid  #cbdbe8;
    transition: 0.4s;
}


.btn-secondary:hover{
    
    background-color: white;
}


.btn-free {
 font-weight: 400;
 background-color: #1085e4;

 padding: 22px 56px;
 letter-spacing: 1.7px;

}

.btn-group a + a {
margin-left: 16px;
}

.btn-info{
    color: #8085b1;
    background-color: transparent;
    border:1px solid #dde1e6 ;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    padding: 20px 41px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.4s;
}

.grid{
    display:grid;
    grid-template-areas: "a b c"
                          "d b c" 
                          "d f g"
                          "e f g"
                          "e h h" ;
                          max-width: 1110px;
                          margin: 0 auto;
                          grid-gap:35px;
                          grid-template-columns: 1fr 1fr 1fr;
                    padding-top: 140px;
                    padding-bottom: 100px;
}

.grid-title{
    grid-area: a;
    margin-top: -22px;
}

.grid-item-1{
    grid-area: b;
    
}

.grid-item-2{
    grid-area: c;
}

.grid-item-3{
    grid-area: d;
}

.grid-item-4{
    grid-area: e;
}

.grid-item-5{
    grid-area: f;
}

.grid-item-6{
    grid-area: g;
}

.grid-text{
    grid-area: h;
}

.grid-text p+p span {
    color: #192b59;
    font-size: 20px;
    font-weight: 700;
}
.grid-text  p+p  {
    color: #1085e4;
    font-size: 14px;
}



.grid h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 700;
   
}
.grid h2 span{
    color: #1085e4;
    font-size: 14px;
    display: block;

}

.grid-item h3 {
    color: #192b59;   
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.6px;
    margin-bottom:18px ;
}

.grid-item a{
 color: #1085e4;
font-weight: 600;
font-size: 14px;
}

.grid-item {
    text-align: center;
     box-shadow:0 0 5px #d1cfcf ;
     padding: 44px 21px 52px 21px;
}


.grid-icon{
background-repeat: no-repeat;
display: block;
margin: 0 auto 21px;
height: 92px;
background-position: center;

}

.grid-icon-1{
background-image: url(../img/icon1.png);
width: 54px;
height: 71px;
}
.grid-icon-2{
    background-image: url(../img/icon2.png);
    background-size:  54px  70px;;
              
}

.grid-icon-3{
    background-image: url(../img/icon3.png);
    background-size:  73px 70px;
   
}

.grid-icon-4{
    background-image: url(../img/icon4.png);
    background-size:  70px  70px;;
    
}
.grid-icon-5{
    background-image: url(../img/icon5.png);
    background-size:  70px  70px;;
    
}

.grid-icon-6{
    background-image: url(../img/icon6.png);
    background-size:  74px  70px;;
    
}

.settings-icon{

background-image: url(../img/icon.png);
display: block;
width: 116px;
height: 98px;
background-repeat: no-repeat;
background-position: -15px 0;

}

.page-soft .title-h2 ,.page-analytics .title-h2{
    max-width:560px ;
    margin-top: 12px;
     margin-bottom: 26px;

}

.page-analytics-text{
    margin-bottom: 54px;
}

.page-soft{
    padding: 109px 0 156px 0;
    position: relative;
    overflow:hidden
}

.soft-pic{
    display: block;
width: 937px;
height: 986px;
background-image: url(../img/pic.png);
background-size: 100% 100%;
background-position: 0 0;
position: absolute;
left:-20px;
bottom: -39px;

}


.page-soft-list dt{
font-weight: 700;
color: #5a6789;
margin-bottom: 10px;
}

.page-soft-list{
margin-top: 30px;
height:323px ;
overflow: hidden;
overflow-y: scroll;
}

.page-soft-list dd{
    margin-left: 0;
    margin-bottom:50px ;
    font-size: 14px;
    line-height: 1.8;
}

.page-soft-flex{
    display: flex;
    justify-content:flex-end ;
}

.page-soft-flex>div{
    flex-basis: 55%;
}

.page-app-text{
font-size: 16px; 
font-weight: 700; 
text-transform: uppercase;
color:#c4d2dd;
margin-top:26px ;
letter-spacing: 3.5px;
margin-bottom:20px ;
}

.page-app-list{
padding: 0;
list-style-type: none;
margin-left: -7px;
}

.page-app-list>li{ 
   display: inline-block;
 }

.page-app-list>li>a{ 
   background-image: url(../img/CompositeLayer.png); 
   display:block;
   width:185px;  
   height:78px;
   background-repeat: no-repeat;
}
.page-app-list>li>a.page-app-android{
    background-position: 0 0;

}

.page-app-list>li>a.page-app-ios{
    background-position: -190px 0;

}

.content-app{
    width: 55%;
}

.content-app .title-h2{
    margin-bottom: 36px;
}


.list-stat{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;

}

.list-stat>li{
    color: #1085E4;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;

}

.list-stat>li>span{
    
display: block;
color: #bacbdc;
font-size: 60px;
margin-bottom: 23px;
letter-spacing: 0px;
}

.screen{
margin-top: 36px;
margin-bottom: -7px;
}






.box-price-item li{
    margin-bottom: 14px;
    letter-spacing: 0px;
}



.box-price-item h3 {
    font-size: 70px;
    font-weight: bold;
   color: #000958;
   letter-spacing: -1px;

   margin-bottom: 15px;
  
    }

.box-price-item h3 span{
    font-size: 20px;
}
.box-price-item p{
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.box-price-item{
    background-color: #f5faff;
   flex-basis: 32%;
     position: relative;
    padding: 17px 0 96px 0 ;
    
}
.box-price-item:first-child h3 {
    margin-bottom: 35px;
}

.box-price-item h3 span:first-child {
    color: #000958;
}

.box-price-item h3 span:last-child {
    color: #7b8ab2;
}

.box-price-item.active h3 span:first-child{
    color: white;
}

.box-price-item.active  h3{
    color: white;
}


.btn-info:hover{
    color: white;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}



.box-price{
display: flex;
justify-content: space-between;
margin-top: 80px;
}

.box-price-item ul {
list-style-type: none;
padding-left: 0px;
margin-top: 34px;
margin-bottom: 59px;
font-size: 14px;



}

.box-price-item.active{
    color: white;
    background-color: #192b59;
    }

   .screem-img {
        display: block;
        background-image: url(../img/bg@1X.png);
        background-repeat: no-repeat;
        width:895px ;
        height: 740px;
        position: absolute;
        right:-21px;
        top: 189px; 
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        } 
    

.page-header{
    background-image: url(../img/Slice_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:  330px ;
    position: relative; 
}

.list-company{
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: space-between;
max-width: 1110px;
margin: 0 auto;
align-items: center;
}

.box-subs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-subs-text{
    font-size: 18px;
    max-width: 437px;
}

.box-subs-user{
position: relative;

}

.box-subs-child{

    flex-basis: 49%;
}

.box-subs-user input{
border: 2px solid #3f5cb1;
border-radius: 45px;
background-color:transparent ;
padding: 25px 230px 25px 37px;
display: block;
width: 100%;
box-sizing: border-box;
font-size: 14px;
color: #fff;
}


.box-subs-user input:focus, .box-subs-user .btn-primary{
    outline: none;
}

.box-subs-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subs-user input::-moz-placeholder          {color:#b1c3ee;}/* Firefox 19+ */
.box-subs-user input:-moz-placeholder           {color:#b1c3ee;}/* Firefox 18- */
.box-subs-user input:-ms-input-placeholder      {color:#b1c3ee;}



.page-soft-list::-webkit-scrollbar { width: 5px; height: 0px;}
.page-soft-list::-webkit-scrollbar-button {  background-color:#1085e4; }
.page-soft-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-soft-list::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 10px;}


::-webkit-scrollbar { width: 7px; height: 0px;}
::-webkit-scrollbar-button {  background-color:#1085e4; }
::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 13px;}


.box-subs-user .btn-primary{
    position: absolute;
    top: 9px;
    right: 8px;
    padding: 17px 50px;
   
}


.list-company-item{
    display: block;
}

.company-one{
    background-image: url(../img/bg_1.png);
    width: 198px;
    height: 58px;
}
.company-two{
    background-image: url(../img/bg_2.png);
    width: 200px;
    height: 69px;
}
.company-three{
    background-image: url(../img/bg_3.png);
    width: 201px;
    height: 47px;
}
.company-four{
    background-image: url(../img/bg_4.png);
    width: 200px;
    height: 69px;
}

.page-company{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px;
}

.page-stat, .page-screen{
background-color: #edf6ff;

}

.page-stat{

    padding: 118px 0px 95px 0px;
}

.box-price .btn-primary{
    padding: 20px 60px;
}

.page-plan , .page-screen{
   
   text-align: center;
}

.page-plan{
    padding:81px 0 121px 0 ;
}

.page-screen{
    padding: 116px 0px 0px 0px;
   text-align: center;
}

.page-subs{
    padding: 25px 0 28px 0;
    color: #fff;
    background: rgba(10,32,144,1);
background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.page-app{
    padding: 69px 0 82px 0;
}

.page-app .wrap{
    
    position: relative;
}


.video-app{
    position: absolute;
    top:-61px;
    right:-172px;
}

.page-analytics{
    background-image: url(../img/dd.png);
    background-repeat: repeat;
    background-size: cover;
    padding:117px 0 137px 0 ;
    background-position: center;
}

.flex-analytics{
display: flex;
justify-content: space-between;
align-items: center;

}
.flex-analytics>div{
    flex-basis:53% ;
    
}

.box-clients{
        display: flex;
        justify-content: space-between;
        margin-top:63px ;
}

.box-clients-item{
        background-color: #fff;
        padding: 20px 30px  ;
        border-radius: 10px ;
        flex-basis: 31%;
        box-sizing: border-box;
        font-size: 14px;
        padding:21px 42px ;
        box-shadow:0 9px 20px #f4f4f4;
}

.box-clients-item .name{
   font-size: 22px; 
   font-weight: 600;
   color: #000958;
   margin-bottom:0;
   letter-spacing:-0.6px ;
   line-height: 1;
}

.box-clients-item .position{
    color: #1085e4;
    font-size: 14px; 
   font-weight: 700;
   text-transform: uppercase;
   margin-top: 0;
   letter-spacing:3px ;
}


 .page-control{
background-image: url(../img/s.png);
padding:117px 0 137px 0 ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
    }
    
.flex-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.flex-control p {
        margin-bottom: 54px;
    }

.page-control img{
        box-shadow: -6px -1px 9px -4px rgba(0,0,0,0.5);
    }
    
.page-clients{
      position: relative;
margin-top: 120px;
padding: 43px 0 0 0;

}

.page-clients::before{
    content: '';
    display: block;
    background-image: url(../img/77.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.page-clients .title-40 , .page-team .title-40{
        color: #fff;
    }
.page-clients .title-40 span , .page-team .title-40 span{
        color: #85c8ff;
    }
    
    .box-info img {
border-radius: 50px;
    }

.box-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box-info>div{
    padding-left: 17px;
    
}


.box-clients-item>p{
    margin-bottom: 4px;
}

.box-team{
    display: flex;
    justify-content: space-between;
margin-top: 140px;
}
.box-team-item{
   background-color: #fff;
   flex-basis: 31.5%;
   box-shadow:0 5px 6px #f4f4f4;
   position: relative;
   padding: 193px 0 42px 0;

}



.page-team{
    text-align: center;
    background-image: url(../img/89p.png);
    background-position: center;
    background-repeat: no-repeat;
    padding:82px 0 20px 0 ;
}
.box-team-item .position{
    font-size: 14px;
    text-transform: uppercase;
    color:#1a88e1;
    font-weight: 900;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.box-team-item .name{
    font-size: 26px;
    margin-top:8px ;
    color:#192b59;
    font-weight:600;
letter-spacing:-0.5 ;
}

.box-team-item .avatar{
position: absolute;
top: -86px;
left: 0;
right: 0;
margin: 0 auto;
}

.box-team-item .btn-more{
background-image: url(../img/btn-more.png);
display: block;
width: 50px;
height: 50px;
background-repeat: no-repeat;
border: none;
margin: 0 auto;
border-radius: 50%;
}

.box-team-item .btn-more:focus{
    outline: none;
}

.page-form{
    
    background-image: url(../img/bgform.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form input,.contact-form textarea{
font-size: 14px;
border: 2px solid #dce4ec;
padding: 15px 25px;
margin-bottom: 15px;
border-radius: 10px;
}


.contact-form input::-webkit-input-placeholder,.contact-form textarea::-webkit-input-placeholder {color:#8995b3;}
.contact-form input::-moz-placeholder          {color:#8995b3;}/* Firefox 19+ */
.contact-form input:-moz-placeholder           {color:#8995b3;}/* Firefox 18- */
.contact-form input:-ms-input-placeholder      {color:#8995b3;}

.flex-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
}
