

body{
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
a {
    text-decoration: none;
}

h1{
    font-weight: 600;
    color: #192b59;

    font-size: 80px; 
    max-width: 600px;
    letter-spacing: -2.5px;
    line-height: 1.1;
    margin-bottom: 65px; 
    padding-left: 0px;
    border: 1px solid forestgreen;
   
}

.title-h2{
    font-size: 50px;
    color: rgba(25, 43, 89, 255);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing:-1.5px ;
   
    
}


.title-h2 span{
 display:block;
 font-size: 16px;
color: rgba(16, 133, 228, 255);
font-weight: 800;
margin-bottom: 50px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:14px ;

}

.page-stat .title-h2 {
    
    text-align: center;
    max-width: 500px;
    margin: 0px auto;
}

.wrap{
    max-width:1110px ;
    
    margin: 0px auto;
}

.nav{
     font-size: 12px;
     font-weight: 700;
     text-transform: uppercase;
     list-style-type: none;
     margin:0px;
     padding: 0px;
     display: flex;


}

.nav>li{
padding:0 20px ;
letter-spacing: 2px;
}

.nav-item{
    color: #6e7ea9;
}



.btn-primary{
    color: #ffffff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 41px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    border:1px solid #1085e4;


}

.btn-primary:hover{
    background-color: white;
    color: #1085e4;
}

.btn-secondary{
    color: #7e8bae;
    background-color: #cbdbe8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 41px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    border:1px solid  #cbdbe8;
 
}


.btn-secondary:hover{
    
    background-color: white;
}


.btn-free {
 font-weight: 400;
 background-color: #1085e4;

 padding: 22px 56px;
 letter-spacing: 1.7px;

}

.btn-group a + a {
margin-left: 16px;
}

.btn-info{
    color: #8085b1;
    background-color: transparent;
    border:1px solid #dde1e6 ;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    padding: 20px 41px;
    border-radius: 30px;
    text-transform: uppercase;
}


.grid h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 700;
   
}
.grid h2 span{
    color: #1085e4;
    font-size: 14px;
    display: block;

}

.grid-item h3 {
    color: #192b59;   
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.6px;
}

.grid-item a{
 color: #1085e4;
font-weight: 600;
font-size: 14px;
}

.list-stat{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;

}

.list-stat>li{
    color: #1085E4;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;

}

.list-stat>li>span{
    
display: block;
color: #bacbdc;
font-size: 60px;
margin-bottom: 23px;
letter-spacing: 0px;
}

.page-stat{
background-color: #edf6ff;

}